* {
  margin: 0;
  padding: 0;
}

body {
  background: #333;
  color: #fff;
  height: 100vh;
  line-height: 1.6;
  overflow: hidden;
}

#quote-box {
  max-width: 960px;
  margin: auto;
  padding: 50px;
  background-color: rgba(16, 14, 23, 0.8);
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: 100vh;
  background: url("https://source.unsplash.com/bZZp1PmHI0E/1600x900") no-repeat
    center center/cover;
}

#quote-box h1 {
  font-size: 3rem;
  font-family: "Pacifico", cursive;
  padding-bottom: 1.5rem;
}

.fa {
  display: inline-block;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}
.social-media > .fa {
  padding: 20px;
  font-size: 1rem;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.social-media > .fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.lead {
  font-size: 1.5rem;
  font-weight: 100;
  font-family: "Special Elite";
  text-align: justify;
}

.quote-author {
  font-family: "Special Elite";
  height: auto;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  font-size: 1.5rem;
  text-align: left;
}
/* 
font-family: 'Pacifico', cursive;
font-family: 'ZCOOL KuaiLe', cursive;
font-family: 'Anton', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Amatic SC', cursive;
font-family: 'Permanent Marker', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Monoton', cursive; */
